<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="../static/js/jquery.min.js"></script>
        <style>
            
        </style>
    </head>
    <body>

        <form id="form" action="index1.html" onsubmit="return check()">
            <h3>Registration Form</h3><br><br>
            <table>
                <tr>
                    <th>
                        <label>Name :</label>
                        
                    </th> 
                    <td><input type="text" id="name" class="form-control"></td> 
                    <td><span id="sname"></span></td>  
                </tr>
                <tr>
                    <th>
                        <label>Age :</label>
                    </th>  
                    <td><input type="number" id="age" class="form-control"></td> 
                    <td><span id="sage"></span></td>  
                </tr>
                <tr>
                    <th>    
                        <label>Gender :</label>
                    </th>    
                    <td>
                         <input type="radio" id="gender" checked>Male
                        <input type="radio" id="gender">Female
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Email :</label></th> 
                        <td>
                        <input type="email" id="email" class="form-control">
                    </td>
                    <td><span id="semail"></span></td> 
                </tr>
                <tr>
                    <th><label>Contact :</label></th>
                    <td>
                        <input type="number" id="contact" class="form-control">
                    </td>
                    <td><span id="scontact"></span></td> 
                </tr>
                <tr>
                    <th>
                        <label>Password :</label></th> 
                        <td>
                        <input type="password" id="pass" class="form-control">
                    </td>
                    <td><span id="spass"></span></td> 
                </tr>
                <tr>
                    <th>
                        <label>Confirm Password :</label></th>
                        <td>
                        <input type="password" id="cpass" class="form-control">
                    </td>
                    <td><span id="scpass"></span></td> 
                </tr>
            </table><br>
            <input type="submit" value="Submit" class="btn btn-info" id="btn">
            <input type="reset" value="Reset" class="btn btn-light" id="btn">
        </form><br>
        <p id="p">Register now</p>
    </body>
    <script>
        function check(){
            var txt=document.getElementById('name')
            if(txt.value=="") {
                document.getElementById("sname").innerHTML="Enter Your name"
                return false
            }
            else{
                document.getElementById("sname").innerHTML=""
            }

            var age=document.getElementById('age')
            if(age.value=="") {
                document.getElementById("sage").innerHTML="Enter Your age"
                return false
            }
            else{
                document.getElementById("sage").innerHTML=""
            }

            var email=document.getElementById('email')
            if(email.value=="") {
                document.getElementById("semail").innerHTML="Enter Your email"
                return false
            }
            else{
                document.getElementById("semail").innerHTML=""
            }

            var contact=document.getElementById('contact')
            if(contact.value=="") {
                document.getElementById("scontact").innerHTML="Enter Your number"
                return false
            }
            else{
                document.getElementById("scontact").innerHTML=""
            }

            var pass=document.getElementById('pass')
            if(pass.value=="") {
                document.getElementById("spass").innerHTML="Enter Your password"
                return false
            }
            else{
                document.getElementById("spass").innerHTML=""
            }

            var cpass=document.getElementById('cpass')
            if(cpass.value=="") {
                document.getElementById("scpass").innerHTML="Incorrect password"
                return false
            }
            else{
                document.getElementById("scpass").innerHTML=""
            }
            var pass=document.getElementById('pass')
            if(cpass.value!=pass.value){
                document.getElementById("scpass").innerHTML="Incorrect password"
                return false
            }
            else{
                document.getElementById("scpass").innerHTML=""
            }


            $(document).ready(function() {
                $("#p").css("background-color", "red");
            });

        }

    </script>
</html>