{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body align="center">
  <h1>Home</h1>
  <input type="text" id="txt1">
  <input type="text" id="txt2">

  <button onclick="add()"></button>
           
</body>
<script>

  // var a=document.getElementById("#txt1").value
  // var b=document.getElementById("#txt2").value
  // var c= a+b;
  // document.write(c)

  var a=10,b=20
  if(a>b){
    alert(a+" is greater")
  }
  else{
    alert(b+" is greater")
  }

</script>

</html>
