{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>

            #div1{
                width: 500px;
                border: 2px solid red;
                padding: 20px; 
                margin: 30px;
            }

        </style>
    </head>
    <body align="center">
        <div id="div1">
        <h1>Login</h1>
        <!-- <img src="{% static 'image/img.jpg' %}" height="200px" width="350px"> -->
        <label>Name :</label>
        <input type="text" required><br><br>
        <label>Password :</label>
        <input type="password" required><br><br>
        <a href="index1/"><input type="button" value="Login"></a>
        </div>
    </body>
</html>
